{% extends 'base.html.twig' %}

{% block title %} Vos réservations passées {% endblock %}
{% block body %}

    {% if bookings is not null %}
        {% for booking in bookings %}
            <div class="row mt-5">
                <div class="col-4">
                    <img src="{{'/images/' ~ booking.ad.coverImage }}" class="img-fluid">

                </div>
                <div class="col-8">
                    <h4>{{booking.ad.title}}
                    <p>
                        Reservation <strong> numero {{booking.id}}</strong>
                        du {{booking.startDate | date('d:m/Y')}} au 
                        {{booking.startDate | date('d:m/Y')}}
                    </p>
                    <a href="{{path('booking_show',{'id':booking.id})}}" class="btn btn-info">
                    plus d'infos</a>
                </div>
            </div>

        {% endfor %}
    {% endif %}
    {% if bookings == [] %}
        <h1>Vous n'avez pas encore de réservations </h1>
        <div>
            <a href="{{path('ads')}}"><span class="badge bagde-secondary">Voir les annonces</span></a>
        </div>
    {% endif %}
{% endblock %}