<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width,user-scalable=no">
        {# <link rel="stylesheet" href="/css/bootstrap.min.css"> #}
        {# <link rel="stylesheet" href="{{ asset('/build/css/app.css') }}"> #}
        


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/bef505d875.js" crossorigin="anonymous"></script>
        
        {#<script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>#}
        
        
        
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {#
    {% form_theme form 'foundation_5_layout.html.twig' %}
    #}
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">SymBNB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('ads')}}">Accueil
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link" onclick="alert('Ce bouton ne fait rien pour l\'instant');">Mon compte !</a>
                    </li>
                </ul>
    
        </div>
        </nav>

        {% include 'shared/header.html.twig' %}
        {% for key,value in app.flashes %}
        <div class="{{'alert alert-' ~ key}}">
            {# {{message}} #}
            {{value[0]}}
        </div>
      {% endfor %}

        {% block body %}{% endblock %}

        {% include 'shared/footer.html.twig' %}
    </body>

        